h1{
  color: #FF784F;
  font-family: sans-serif;
}

p{
  color: #058ED9;
  font-family: sans-serif;
}

body{
  background: #3A3042;
}

a{
  text-decoration: none;
  font-size: 40px;
  color: #058ED9;
  font-family: sans-serif;
}

.j{
  border: 15px solid #5C6D70;
  border-radius: 15px;
}

.k{
  list-style: none;
  color: #ADA296;
  font-family: sans-serif;
}
